@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=optional');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.root {
  position: relative;
  min-height: 100vh;
  padding-bottom: 130px;
}
